@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 20% 97%;
    --foreground: 34 9% 15%;
    --primary: 34 9% 15%;
    --primary-foreground: 60 20% 97%;
    --secondary: 60 10% 92%;
    --secondary-foreground: 34 9% 15%;
    --border: 60 10% 90%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 34 9% 15%;
    --foreground: 60 20% 97%;
    --primary: 60 20% 97%;
    --primary-foreground: 34 9% 15%;
    --secondary: 34 10% 20%;
    --secondary-foreground: 60 20% 97%;
    --border: 34 10% 25%;
  }
}
